include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt
include requirements-test.txt
recursive-include bank *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
